* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

#root {
   display: flex;
   justify-content: center;
}

.listWindow {
   width: 800px;
   height: auto;
   margin-top: 30px;
   border: 2px solid navy;
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.listWindow h1 {
   margin: 20px 0;
   color: navy;
   font-size: 24px;
   font-family: 'Courier New', Courier, monospace;
}

.notesList {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   margin-bottom: 20px;
}

.simpleNote {
   font-size: 18px;
   color: teal;
   font-weight: bold;
   border: 2px solid navy;
   border-radius: 30px;
   margin-bottom: 10px;
   width: 90%;
   padding: 10px 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.done {
   background-color: lightgreen;
}

.addNoteForm {
   width: 800px;
   height: auto;
   margin: 40px 0;
   border: 2px solid navy;
   border-radius: 30px;
   padding: 20px;
   display: flex;
   justify-content: space-around;
}

input::-moz-placeholder { 
   color: lightslategray; 
   font-weight: lighter;
}
input::-webkit-input-placeholder { 
   color: lightslategray;
   font-weight: lighter; 
}

.noteInput {
   flex-grow: 3;
   font-size: 22px;
   font-weight: bold;
   outline: none;
   color: navy;
   font-family: 'Courier New', Courier, monospace;
   padding: 4px 14px 4px 14px;
   border: 1px solid navy;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   cursor: pointer;
}

.noteInput:focus {
   border: 2px solid navy;
   border-radius: 3px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   padding: 3px 13px 3px 13px;
}

.button {
   transition: all .1s ease;
}

.button:hover {
   scale: 1.1;
}

.addNoteButton {
   border: 2px solid navy;
   flex-grow: 1;
   background: navy;
   color: aqua;
   font-family: 'Courier New', Courier, monospace;
   font-size: 18px;
   font-weight: bold;
   padding: 0 20px 0 20px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   margin-left: 20px;
   cursor: pointer;
}

.deleteNoteButton {
   color: white;
   background: red;
   font-weight: bold;
   cursor: pointer;
   padding: 6px 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   margin-left: 10px;
}

.onlyDeleteButton {
   border-radius: 10px;
   margin-right: 38px;
}

.doneButton {
   color: teal;
   background: lightgreen;
   font-weight: bold;
   cursor: pointer;
   padding: 6px 14px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}